:root {
  --bg-light: hsl(240, 18, 90);
  --bg: hsl(240, 18, 94);
  --bg-dark: hsl(240, 18, 98);

  --border: hsl(235, 18, 40);
  --border-dark: hsl(235, 18, 55);
  --border-light: hsl(235, 18, 70);

  --highlight: hsl(0, 0, 98);

  --primary: hsl(232, 61, 72);
  --primary-hover: hsl(232, 61, 60);

  --secondary: hsl(52, 61, 72);
  --secondary-hover: hsl(52, 61, 60);

  --text: hsl(0, 0, 9);
  --text-muted: hsl(0, 0, 25);

  --muted-surface: hsl(240, 3, 89);
}